@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Ysabeau+Office:wght@1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

li, a {
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 213, 96);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

/*Beginning of nav*/
.navsLink{
    list-style: none;
}

.navsLink li{
    display: inline-block;
    padding: 0px 20px;
}

.navsLinks li a {
    transition: all 0.3s ease 0s;
}

.navsLinks li a hover{
    color:aquamarine;
}/*End of nav*/

h1{
    margin-top: 7%;
    text-align: center;
    font-family: 'Mate SC', serif;
    font-weight: 500;
}

/*Home page image and main text*/
.frontPageImg{
    margin-top: 7%;
    text-align: center;
    font-family: 'Mate SC', serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(207,149,51);
    text-decoration: none;
}/*End of Home page image and main text*/

footer {
    color: rgb(255, 213, 96);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration:none;
}

/*About Me Style*/
.aboutMeBox{
    color: rgb(207,149,51);
    margin-top: 7%;
    text-align: center;
    font-family: 'Mate SC', serif;
    font-weight: 500;
}

.me{
    justify-content: left;
    border-radius: 50%;
}

/*End of About Me Style*/

/*Contact Style*/
.contactBox{
    margin: auto;
    border-radius: 3%;
    margin-top: 2%;
    text-align: center;
    font-family: 'Mate SC', serif;
    font-weight: 500;
    font-size: 25px;
    border-style: double;
    color: rgb(207,149,51);
    border-color: rgb(109, 79, 28);
    width: 50%;
}

h2{
    text-decoration:underline;
}
/*End of Contact Style*/


/*Start of Back in Time Style*/
input {
    display: none;
}

label{
    display:block;
    width: 150px;
    border-radius: 5px;
    color: bisque;
    margin-top: 5%;
    font-family: 'Mate SC', serif;
    font-weight: 500;
    background-color: rgb(207,149,51);
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin: 30px;
}

.photoDisplay{
    height: 500px;
    border-radius: 3%;
    margin-top: 2%;
    text-align: center;
    font-family: 'Mate SC', serif;
    font-weight: 500;
    font-size: 25px;
    border-style: double;
    color: rgb(207,149,51);
    border-color: rgb(109, 79, 28);
    margin: auto;
    width: 50%
}



/*End of Back in Time Style*/